<div class="card ui-g" style="margin-top:12%">

  <div class="p-col-12 p-md-6 p-lg-3 capa-detalhe">

    <img  [src]="livro.capa" [alt]="livro.capa" />

  <div class="p-col-12 p-md-6 p-lg-3 detalhe">
    <p-toolbar >
      <div>
        <h2>{{livro.titulo}}</h2>
        <p-divider></p-divider>

        <div>
          <h5>Edição: {{livro.edicao}} | Editora: {{livro.editora}} | Ano de Publicação: {{livro.anoPublicacao}} |
            Autor: {{livro.autores}}</h5>
        </div>
        <p-divider></p-divider>

        <span class="price">Preço: {{livro.price | currency: 'R$'}}</span>
        <br><br><br><br>
      <div class="p-field p-col-12 p-md-3">
        <label for="minmax-buttons">Quantidade</label>
        <p-inputNumber [(ngModel)]="quantidade" mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="1"
          [max]="100">
        </p-inputNumber>
      </div>
      <p-divider></p-divider>
      <p-button style="margin-right: 2rem;" icon="pi pi-check" label="Comprar Agora" (click)="finalizarPedido()"></p-button>
      <p-button icon="pi pi pi-shopping-cart" label="Adicionar ao carrinho"></p-button>
      </div>

    </p-toolbar>
  </div>

</div>

</div>


<div class="card">
  <h2>Descrição do livro</h2>
  <span>
    {{livro.descricao}}
  </span>
</div>
<app-menu-bar></app-menu-bar>
<app-rodape-bar></app-rodape-bar>
