<div class="ui-g">
  <div class="p-col-12 p-md-6 p-lg-3p">
    <h1 style="display: block">Cadastro de endereco </h1>
  </div>
  <p-toast></p-toast>

  <!-------------------    Buton de novo / deletar multiplos      ------------------------>
  <div class="card p-col-12 p-md-6 p-lg-3p">
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success p-mr-2"
          (click)="openNew()"></button>
    </p-toolbar>

    <p-table #dt [value]="enderecos" [rows]="10" [paginator]="true" [responsive]="true"
      [globalFilterFields]="['categoriaId','descricao']" [(selection)]="selectedCategorias" [rowHover]="true"
      dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true">
      <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
          <h5 class="p-m-0">Gerenciar endereco</h5>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" placeholder="Pesquisar..." style="width: 500px;" />
            <!---(input)="dt.filterGlobal($event.target.value, 'contains')"-->>
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="categoriaId">Codigo <p-sortIcon field="categoriaId"></p-sortIcon>
          </th>
          <th pSortableColumn="descricao">Descrição <p-sortIcon field="descricao"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-categoria>
        <tr>
          <td>{{categoria.categoriaId}}</td>
          <td>{{categoria.descricao}}</td>
          <td>
            <button pButton pRipple icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"
              class="p-button-rounded p-button-success p-mr-2" (click)="update(categoria)"></button>
            <button pButton pRipple icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"
              class="p-button-rounded p-button-warning" (click)="delete(categoria.categoriaId)"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
          Total de categoria {{categorias ? categorias.length : 0 }}.
        </div>
      </ng-template>
    </p-table>
  </div>
</div>
<!------------------------------------Inicio da tela modelo Dialog------------------------------------------------>

<p-dialog [(visible)]="telaDialog" [style]="{width: '450px'}" header="Detalhes de endereco" [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="content">

    <div class="p-field" style="width: 200px">
      <label class="p-mb-3">Descrição<span style="color: red;">*</span> </label>
      <input type="text" pInputText id="descricao" required autofocus [(ngModel)]=categoria.descricao />
      <small class="p-invalid" *ngIf="submitted && !categoria.descricao">CEP é obrigatório.</small>
    </div>

  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancela" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text" (click)="save(categoria)"></button>
  </ng-template>

</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
